{
  "name": "quepasa",
  "version": "0.0.15",
  "vendor": "Sufficit Soluções em Tecnologia da Informação",
  "license": "AGPL-v3+",
  "url": "https://gitlab.com/digiresilience/link/zammad-addon-quepasa",
  "buildhost": "",
  "builddate": "",
  "change_log": [
    {
      "version": "0.0.3",
      "date": "",
      "log": "Initial version."
    }
  ],
  "description": [
    {
      "language": "pt-br",
      "text": "WhatsApp Channel"
    }
  ],
  "files": [
  ]
}
